/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.sponsor-font {
  color: white;
  text-shadow: 0px 0px 10px #c2fa67;
  padding: 0;
  margin: 0;
}

.input {
  background-color: transparent;
  border: 0;
  color: white;
}

.input:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.full-width {
  width: 100%;
}
