<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>

  <body>
    <h1>To Do App</h1>

    <form action="/add" method="post">
      <div>
        <label>Todo Title</label>
        <input type="text" name="title" placeholder="Enter Todo..." />
        <br />
        <button type="submit">Add</button>
      </div>
    </form>

    <hr />

    {% for todo in todo_list %}

    <p>{{todo.id }} | {{ todo.title }}</p>

    {% if todo.complete == False %}
    <span>Not Complete</span>
    {% else %}
    <span>Completed</span>
    {% endif %}

    <a href="/update/{{ todo.id }}">Update</a>
    <a href="/delete/{{ todo.id }}">Delete</a>

    {% endfor %}
  </body>
</html>
