html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

h1,
h2 {
  margin: 10px;
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}
#titleText {
  width: 90vw;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: inherit;
}
#mainDiv {
  display: flex;
  /* grid-template-columns: (8, 1fr);
  grid-column-gap: 7%; */
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  justify-content: space-between;
}
#nav {
  background-color: #d9d9d9;
  width: 25%;
}
#welcomeDiv {
  background-color: #d9d9d9;
  /* grid-column-start: 2;
  grid-column-end: 7; */
  width: 70%;
}
#welcomeDiv h1 {
  margin: 10px;
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  margin-left: 30px;
}
ul {
  height: 75%;
  width: 80%;
  text-align: left;
  margin-top: 100px;
}

li {
  list-style-type: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
}

/* CODE FOR POINTR PAGE */

input {
  width: 100%;
  height: 40px;
  border-radius: 10%;
  outline: none;
}

input[type='submit'] {
  width: 60%;
  height: 40px;
  margin-top: 10px;
  background: rgba(188, 188, 188, 0.68);
  /* border-radius: 10px; */
  color: #ffffffad;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.urltext {
  margin: 15px;
}
#currentPage {
  color: #4799e4;
}
