/* largely from https://codepen.io/erikterwan/pen/EVzeRP */
.menuToggle {
  display: block;
  position: relative;
  /* top: 25px; */
  left: 25px;

  z-index: 1;

  user-select: none;
}

.menuToggle a {
  text-decoration: none;
  color: #2b2b2b;

  transition: color 0.3s ease;
}

.menuToggle a:hover {
  background-color: #2b2b2b;
}

/* An invisible input over the hamburger */
.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
    * Just a quick hamburger
    */
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  /* background: #EE5549; */
  background: #2b2b2b;

  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.35s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
    * Transform all the slices of hamburger
    * into a crossmark.
    */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #2b2b2b;

  /* background: #232323; */
}

/*
    * But let's hide the middle one.
    */
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
    * Ohyeah and the last one should go the other direction
    */
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
    * Make this absolute positioned
    * at the top left of the screen
    */
.menu {
  position: absolute;
  width: 300px;
  margin: -6rem 0 0 -20rem;
  padding-top: 125px;
  list-style: none;
  /* This is kinda jank but it works for now */
  height: 120vh;

  /* background: #ededed; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.menu li {
  padding: 50vh 0;
  background-color: white;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.04em;
  text-decoration: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px 3px rgba(172, 172, 172, 0.7);
}

.menu li:hover {
  background-color: #faf9f9;
}

/*
    * Display the child ul element when the invisible hamburger is clicked
  */
.menuToggle input:checked ~ ul {
  visibility: visible;
  opacity: 1;
}
